<div class="container-fluid top10">

	<div class="well well-sm">
		<div class="row" >
			<div class="col-md-12 col-sm-12 col-xs-12 no-margin">
                <form ng-submit="submit()">
                    <input class="form-control" ng-model="user.username" type="text" name="user" placeholder="Username" />
                    <input class="form-control" ng-model="user.password" type="password" name="pass" placeholder="Password" />
                    <input class="form-control btn-primary" type="submit" value="Login" />
                </form>
			</div>
		</div>
	</div>

</div>