<div class="container-fluid">

	<div class="row bottom10">
		<div class="col-md-4 col-sm-6 col-xs-10 top10">
			<div class="input-group" align="right">
				<span class="input-group-addon">Titolo</span>
				<input class="form-control" ng-Model="title" type="text"  placeholder="inserisci titolo">
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2 top10">
			<button type="button" class="btn btn-primary pull-left"  ng-click="addNews()"><i class="fa fa-plus"></i></button>
		</div>
	</div>
	<div class="well well-sm">
		<div class="row bottom10">
			<div class="col-md-12 col-sm-12 col-xs-12 top10">
				<div class="input-group" align="right">
					<span class="input-group-addon">Intro</span>
					<input class="form-control" ng-Model="intro" type="text"  placeholder="inserisci nuova intro">
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 top10">
				<div class="input-group" align="right">
					<span class="input-group-addon">Articolo</span>
					<input class="form-control" ng-Model="article" type="text"  placeholder="inserisci nuovo articolo">
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 top10">
				<button type="button" class="btn btn-primary pull-left"  ng-click="addPictures()"><i class="fa fa-file-image-o "></i></button>
			</div>
		</div>
	</div>
</div>



