<div class="container-fluid">

  <div class="row bottom10">
    <div class="col-md-4 col-sm-6 col-xs-12 top10">
      <div class="input-group" align="right">
        <input class="form-control" ng-model="query" type="text"  placeholder="Cerca">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <!--<div class="col-md-4 col-sm-6 col-xs-12 top10">-->
      <!--<select class="form-control" ng-model="statTypeSelected"-->
              <!--ng-options="statType as statType.label for statType in statTypes" ng-change="onchange(statTypeSelected)">-->
      <!--</select>-->
    <!--</div>-->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm" ng-repeat="tournament in tournaments | filter:query">
        <div class="row">
          <div class="col-md-4 col-sm-3 col-xs-12 no-margin">
            <h4 class="top0">
              <span class="label label-info">{{tournament.date | date: 'dd MM yyyy'}}</span>
            </h4>
            <h5 class="top0">
              <span class="label label-default">Luogo {{tournament.details.location}}</span>
              <!--<span class="label label-default">Tavoli {{tournament.details.tables}}</span>-->
            </h5>
            <div class="thumbnail width100" ng-repeat="result in tournament.results" href="#/players/{{stat._id}}">
              <span class="label label-primary">{{result.pos}} {{result.player_id}}</span>
              <img class="width100" ng-src="resources/players/{{result.player_id}}.jpg">
              <h6>Punteggio {{result.points}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
