<div class="container-fluid">

  <div class="row bottom10">
    <div class="col-md-4 col-sm-6 col-xs-12 top10">
      <div class="input-group" align="right">
        <input class="form-control" ng-model="query" type="text"  placeholder="Cerca">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <!--<div class="col-md-4 col-sm-6 col-xs-12 top10">-->
      <!--<select class="form-control" ng-model="statTypeSelected"-->
              <!--ng-options="statType as statType.label for statType in statTypes" ng-change="onchange(statTypeSelected)">-->
      <!--</select>-->
    <!--</div>-->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm" ng-repeat="tournament in tournaments | filter:query">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 no-margin">
            <h4 class="top0">
              <span class="label label-primary width-max"><a ng-hide="!tournament.final"><i class="fa fa-trophy gold"></i></a><a ng-hide="tournament.final"><i class="fa fa-star bronze"></i></a>  {{tournament.date | date: 'dd-MM-yyyy'}}  {{tournament.details.location}}  Tavoli {{tournament.details.tables}}  Giocatori {{tournament.results.length}}</span>
            </h4>
          </div>
        </div>
        <div class="row" ng-repeat="result in tournament.results">
          <div class="col-md-4 col-sm-4 col-xs-12 no-margin">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-5 no-margin">
                <div class="thumbnail width70"  href="#/players/{{stat._id}}">
                  <span ng-hide="result.pos>1" class="label label-success width-max">{{result.pos}} {{result.player_id}}</span>
                  <span ng-hide="result.pos==1" class="label label-info width-max">{{result.pos}} {{result.player_id}}</span>
                  <img class="width70" ng-src="resources/players/{{result.player_id}}.jpg">
                </div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-7 no-margin">
                <h6>
                  <dl class="dl-horizontal no-margin">
                    <dt>Punti</dt>
                    <dd>{{result.points}}</dd>
                    <dt>Montepremi</dt>
                    <dd>{{result.money}}</dd>
                    <dt>Quota</dt>
                    <dd>{{result.pay}}</dd>
                  </dl>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
