<div class="container-fluid">

  <div class="row bottom10">
    <div class="col-md-3 col-sm-4 col-xs-12 top10">
      <div class="input-group" align="right">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control" ng-model="query" type="text"  placeholder="Cerca">
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 top10">
      <div class="input-group" align="right">
        <span class="input-group-addon">Stagione</span>
        <select class="form-control" ng-model="yearSelected"
                ng-options="year as year for year in years" ng-change="onchange(yearSelected)">
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 top10">
       <button type="button" class="btn btn-default"  ng-click="newTournament()">Nuovo torneo</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="well well-sm" ng-repeat="tournament in tournaments | filter:query">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-10 no-margin">
            <h4 class="top0">
              <span class="label label-primary"><a ng-hide="tournament.details.final==0"><i class="fa fa-trophy gold"></i></a><a ng-hide="tournament.details.final==1"><i class="fa fa-star bronze"></i></a>  {{tournament.date | date: 'dd-MM-yyyy'}}  {{tournament.details.location}}</span>
              <span class="label label-primary">Tavoli {{tournament.details.tables}}  Giocatori {{tournament.results.length}}</span>
            </h4>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 no-margin">
            <button type="button" class="btn btn-primary"  ng-click="editTournament(tournament._id)"  align="right"><i class="fa fa-edit"></i></button>
          </div>
        </div>
        <div class="row" ng-repeat="result in tournament.results">
          <div class="col-md-12 col-sm-12 col-xs-12 no-margin">
            <div class="thumbnail">
              <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-5 no-margin">
                  <div class="thumbnail width80"  href="#/players/{{stat._id}}">
                    <span ng-hide="result.pos>1" class="label label-success width-max">{{result.pos}} {{result.player_id}}</span>
                    <span ng-hide="result.pos==1" class="label label-default width-max">{{result.pos}} {{result.player_id}}</span>
                    <img class="width80" ng-src="resources/players/{{result.player_id}}.jpg">
                  </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-7 no-margin">
                  <h6>
                    <dl class="dl-horizontal no-margin">
                      <dt>Punti</dt>
                      <dd>{{result.points}}</dd>
                      <dt>Montepremi</dt>
                      <dd>{{result.money}}</dd>
                      <dt>Quota</dt>
                      <dd>{{result.pay}}</dd>
                    </dl>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
