<div class="container-fluid">

  <div class="row bottom10">
    <div class="col-md-2 col-sm-2 col-xs-4 top10">
      <button type="button" class="btn btn-primary pull-left width-max"  ng-click="deleteTournament()">Elimina</button>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 top10">
      <button type="button" class="btn btn-primary pull-left width-max"  ng-click="calculate()">Calcola</button>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 top10">
      <button type="button" class="btn btn-primary pull-left width-max"  ng-click="saveTournament()">Salva</button>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 top10">
      <button type="button" class="btn btn-primary pull-left width-max"  ng-click="cancel()">Annulla</button>
    </div>

  </div>


  <div class="well well-sm">
      <form name="myForm">
    <div class="row bottom10">

      <div class="col-md-12 col-sm-12 col-xs-12 top10">
        <div class="input-group" align="right">
          <span class="input-group-addon">Data</span>
          <input class="form-control" ng-Model="editTournament.date" type="text"  placeholder="">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 top10">
        <div class="input-group" align="right">
          <span class="input-group-addon">Luogo</span>
          <select class="form-control" ng-model="editTournament.details.location"
                  ng-options="location as location for location in locations">
          </select>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 top10">
        <div class="input-group" align="right">
          <span class="input-group-addon">Tavoli</span>
          <input class="form-control" ng-Model="editTournament.details.tables" type="number" min="1" placeholder="">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 top10">
        <div class="input-group" align="right">
          <!--<span class="input-group-addon">Finale</span>-->
          <span class="input-group-addon">Finale <a ng-hide="editTournament.details.final==0"><i class="fa fa-trophy gold"></i></a><a ng-hide="editTournament.details.final==1"><i class="fa fa-star bronze"></i></a></span>
          <select class="form-control" ng-model="editTournament.details.final"
                  ng-options="finalValue.value as finalValue.label for finalValue in finalValues">
          </select>
        </div>
      </div>

    </div>

    <div class="row" ng-repeat="result in editTournament.results">

      <div class="col-md-3 col-sm-3 col-xs-12 top10">
        <div class="input-group" align="right">
          <span class="input-group-addon"><i class="fa fa-user"></i> {{$index + 1}}</span>
          <select class="form-control" ng-model="result.player_id"
                  ng-options="player as player for player in players">
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 top10">
        <div class="input-group" align="right" ng-class="{'has-error': myForm.pointsInput.$invalid}">
          <span class="input-group-addon">Punti</span>
          <input   name="pointsInput" class="form-control" ng-Model="result.points" type="number" step="any" min ="0" placeholder="">
            <span class="help-inline" ng-show="myForm.pointsInput.$error.number"></span>
        </div>
      </div>

        <!--<form name="myForm">
            <div class="control-group" ng-class="{error: myForm.name.$invalid}">
                <label>Name</label>
                <input type="text" name="name" ng-model="project.name" required>
                <span ng-show="myForm.name.$error.required" class="help-inline">Required</span>
            </div>
        </form>-->

      <div class="col-md-3 col-sm-3 col-xs-12 top10">
        <div class="input-group" align="right">
          <span class="input-group-addon">Montepremi</span>
          <input class="form-control" ng-Model="result.money" type="number" step="any" min="0" placeholder="">
        </div>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-12 top10">
        <div class="input-group" align="right">
          <span class="input-group-addon">Quota</span>
          <input class="form-control" ng-Model="result.pay" type="number" step="any" min="0" placeholder="">
        </div>
      </div>

      <div class="col-md-1 col-sm-1 col-xs-12 top10">
        <button type="button" class="btn btn-primary pull-right"  ng-click="removeResult(result)"><i class="fa fa-remove"></i></button>
      </div>

    </div>

    <div class="row bottom10">
      <div class="col-md-1 col-md-offset-11 col-sm-1 col-sm-offset-11 col-xs-12 top10">
        <button type="button" class="btn btn-primary pull-right"  ng-click="newResult()"><i class="fa fa-plus"></i></button>
      </div>
    </div>
      </form>
  </div>
</div>

