<div class="container-fluid">

    <div class="row bottom10">
        <div class="col-md-3 col-sm-6 col-xs-12 top10">
            <div class="input-group" align="right">
                <span class="input-group-addon">Stagione</span>
                <select class="form-control" ng-model="yearSelected"
                        ng-options="year as year for year in years" ng-change="onYearChange(yearSelected)">
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 top10">
            <div class="input-group" align="right">
                <span class="input-group-addon">Chart</span>
                <select class="form-control" ng-model="chartSelected"
                        ng-options="chart as chart for chart in charts" ng-change="onChartChange(chartSelected)">
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 top10">
            <p>Work in progress...</p>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12">
            <div class="well well-sm">
                <canvas id="line" class="chart chart-line" legend="true"
                        data="data"
                        labels="labels"
                        series="series">
                </canvas>
            </div>
        </div>
	</div>

</div>



