<div class="container-fluid">

	<div class="row bottom10">
		<div class="col-md-4 col-sm-6 col-xs-12 top10">
			<div class="input-group" align="right">
				<input class="form-control" ng-model="query" type="text"  placeholder="Cerca">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="well well-sm" ng-repeat="player in players | filter:query" >
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12 no-margin">
						<h4 class="top0"><span class="label label-primary">{{player.pos}}</span> <span class="label label-primary">{{player._id}}</span></h4>
						<div class="thumbnail width100" href="#/players/{{player._id}}">
							<img class="width100" ng-src="resources/players/{{player._id}}.jpg">
							<a ng-repeat="i in getNumberGold(player.winTot) track by $index"><i class="fa fa-star gold"></i></a>
							<a ng-repeat="i in getNumberSilver(player.winTot) track by $index"><i class="fa fa-star silver"></i></a>
							<a ng-repeat="i in getNumberBronze(player.winTot) track by $index"><i class="fa fa-star bronze"></i></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 no-margin">
						<dl class="dl-horizontal no-margin">
							<dt>Punteggio</dt>
							<dd>{{player.pointsTot.toFixed(2)}}</dd>
						</dl>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 no-margin">
						<dl class="dl-horizontal no-margin">
							<dt>Stack finale</dt>
							<dd>{{player.stack.toFixed(0)}}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



