<div class="container-fluid">

	<div class="row bottom10">
		<div class="col-md-4 col-sm-6 col-xs-12 top10">
			<div class="input-group" align="right">
				<input class="form-control" ng-model="query" type="text"  placeholder="Cerca">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 top10">
			<select class="form-control" ng-model="orderProp">
				<option ng-repeat="statType in statTypes" value="{{statType.type}}">{{statType.label}}</option>
				<!--<option value="pointsTot">Punti</option>-->
				<!--<option value="winTot">Vittorie</option>-->
				<!--<option value="headsupTot">HeadsUp</option>-->
				<!--<option value="moneyTot">Montepremi</option>-->
				<!--<option value="moneyProfit">Profitti</option>-->
				<!--<option value="matchTot">Tornei</option>-->
				<!--<option value="pointsAvg">Media punti</option>-->
				<!--<option value="winPerc">Percentuale vittorie</option>-->
				<!--<option value="headsupPerc">Percentuale headsup</option>-->
				<!--<option value="moneyAvg">Media montepremi</option>-->
				<!--<option value="moneyProfitAvg">Media profitti</option>-->
				<!--<option value="payTot">Quote</option>-->
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="well well-sm" ng-repeat="stat in stats | filter:query | orderBy:orderProp:true" >
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12 no-margin">
						<h4 class="top0">
							<span class="label label-primary">{{stat._id}}</span>
							<span class="label label-default">{{stat.orderProp}}</span>
						</h4>
						<div class="thumbnail width100" href="#/players/{{stat._id}}">
							<img class="width100" ng-src="resources/players/{{stat._id}}.jpg">
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 no-margin">
						<dl class="dl-horizontal no-margin">
							<dt>Punti</dt>
							<dd>{{stat.pointsTot.toFixed(2)}}</dd>
							<dt>Vittorie</dt>
							<dd>{{stat.winTot}}</dd>
							<dt>HeadsUp</dt>
							<dd>{{stat.headsupTot}}</dd>
							<dt>Montepremi</dt>
							<dd>{{stat.moneyTot}}</dd>
							<dt>Profitti</dt>
							<dd>{{stat.moneyProfit}}</dd>
							<dt>Tornei</dt>
							<dd>{{stat.matchTot}}</dd>
						</dl>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 no-margin">
						<dl class="dl-horizontal no-margin">
							<dt>Media punti</dt>
							<dd>{{stat.pointsAvg.toFixed(2)}}</dd>
							<dt>Percentuale vittorie</dt>
							<dd>{{stat.winPerc.toFixed(2)}}</dd>
							<dt>Percentuale headsup</dt>
							<dd>{{stat.headsupPerc.toFixed(2)}}</dd>
							<dt>Media montepremi</dt>
							<dd>{{stat.moneyAvg.toFixed(2)}}</dd>
							<dt>Media profitti</dt>
							<dd>{{stat.moneyProfitAvg.toFixed(2)}}</dd>
							<dt>Quote</dt>
							<dd>{{stat.payTot}}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
