<div class="container-fluid">

	<div class="row bottom10">
		<div class="col-md-3 col-sm-6 col-xs-12 top10">
			<div class="input-group" align="right">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input class="form-control" ng-model="query" type="text"  placeholder="Cerca">
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12 top10">
			<div class="input-group" align="right">
				<span class="input-group-addon">Ordina</span>
				<select class="form-control" ng-model="statTypeSelected"
						ng-options="statType as statType.label for statType in statTypes" ng-change="onchange(statTypeSelected)">
				</select>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12 top10">
			<div class="input-group" align="right">
				<span class="input-group-addon">Da</span>
				<select class="form-control" ng-model="yearFromSelected"
						ng-options="year as year for year in years" ng-change="onchangeYearFrom(yearFromSelected)">
				</select>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12 top10">
			<div class="input-group" align="right">
				<span class="input-group-addon">A</span>
				<select class="form-control" ng-model="yearToSelected"
						ng-options="year as year for year in years" ng-change="onchangeYearTo(yearToSelected)">
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-sm" ng-repeat="stat in stats | filter:query | orderBy:statTypeSelected.type:true" >
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 no-margin">
						<h4 class="top0">
							<span class="label label-primary"><span class="badge">{{$index+1}}</span> - {{stat._id}}</span>
						</h4>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4">
						<div class="thumbnail" href="#/players/{{stat._id}}">
							<span class="label label-info">{{getSelectedLabel()}} {{getSelectedValue(stat)}}</span>
							<img class="width100" ng-src="resources/players/{{stat._id}}.jpg">
							<a ng-repeat="i in getNumberGold(stat.winTot) track by $index"><i class="fa fa-star gold"></i></a>
							<a ng-repeat="i in getNumberSilver(stat.winTot) track by $index"><i class="fa fa-star silver"></i></a>
							<a ng-repeat="i in getNumberBronze(stat.winTot) track by $index"><i class="fa fa-star bronze"></i></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<div class="thumbnail" href="#/players/{{stat._id}}" ng-hide="{{stat.seasonWins==0}}">
							<span class="label label-info" >Vittorie stagioni</span>
							<div ng-repeat="seasonWin in stat.seasonWins">
								<div class="row">
									<div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-1">
										<i class="fa fa-shield gold"></i></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3">
										{{seasonWin.year}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<div class="thumbnail" href="#/players/{{stat._id}}" ng-hide="{{stat.finalWins==0}}">
							<span class="label label-info" >Vittorie finali</span>
							<div ng-repeat="finalWin in stat.finalWins">
								<div class="row">
									<div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-1">
										<i class="fa fa-trophy gold"></i></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3">
										{{finalWin.year}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 no-margin">
						<h5>
							<dl class="dl-horizontal no-margin">
								<dt>Punti</dt>
								<dd>{{stat.pointsTot.toFixed(2)}}</dd>
                                <dt>&nbsp</dt>
                                <dd>&nbsp</dd>
								<dt>Vittorie</dt>
								<dd>{{stat.winTot}}</dd>
								<dt>HeadsUp</dt>
								<dd>{{stat.headsupTot}}</dd>
                                <dt>Buy-in</dt>
								<dd>{{stat.buyTotNoFinal}}</dd>
								<dt>Montepremi</dt>
								<dd>{{stat.moneyTot}}</dd>
								<!--<dt>Profitti</dt>
								<dd>{{stat.moneyProfit}}</dd>-->
								<dt>Tornei</dt>
								<dd>{{stat.matchTot}}</dd>
								<dt>Serie vittorie</dt>
								<dd>{{stat.winSeries}}</dd>
							</dl>
						</h5>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 no-margin">
						<h5>
							<dl class="dl-horizontal no-margin">
                                <dt>Media punti buy-in</dt>
                                <dd>{{stat.pointsBuyAvg.toFixed(2)}}</dd>
								<dt>Media punti tornei</dt>
								<dd>{{stat.pointsAvg.toFixed(2)}}</dd>
								<dt>Percentuale vittorie</dt>
								<dd>{{stat.winPerc.toFixed(2)}}</dd>
								<dt>Percentuale headsup</dt>
								<dd>{{stat.headsupPerc.toFixed(2)}}</dd>
                                <dt>Perc. vittorie headsup</dt>
                                <dd>{{stat.headsupWinPerc.toFixed(2)}}</dd>
								<dt>Media montepremi</dt>
								<dd>{{stat.moneyAvg.toFixed(2)}}</dd>
								<!--<dt>Media profitti</dt>
								<dd>{{stat.moneyProfitAvg.toFixed(2)}}</dd>-->
								<dt>Tavoli finali</dt>
								<dd>{{stat.matchFinalTot}}</dd>
                                <dt>Serie headsup vinti</dt>
                                <dd>{{stat.headsupSeries}}</dd>
								
							</dl>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
