<div class="container-fluid">

  <script>
    $(function () {
      var nua = navigator.userAgent
      var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
      if (isAndroid) {
        $('select.form-control').removeClass('form-control').css({
          'width': '100%',
          'height': '35px',
          'padding': '8px'});
      }
    })
  </script>

  <div class="row bottom10">
    <div class="col-md-3 col-sm-6 col-xs-12 top10">
      <div class="input-group" align="right">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control" ng-model="query" type="text"  placeholder="Cerca">
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 top10">
      <div class="input-group" align="right">
        <span class="input-group-addon">Da</span>
        <select class="form-control" ng-model="yearFromSelected"
                ng-options="year as year for year in years" ng-change="onchange(yearFromSelected)">
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 top10">
      <div class="input-group" align="right">
        <span class="input-group-addon">A</span>
        <select class="form-control" ng-model="yearToSelected"
                ng-options="year as year for year in years" ng-change="onchange(yearToSelected)">
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="well well-sm" ng-repeat="headsup in headsups | filter:query | orderBy:orderProp:true">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 no-margin">
            <h4 class="top0">
              <span class="label label-primary">{{headsup.player1}}   vs   {{headsup.player2}}</span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4 no-margin">
            <div class="thumbnail width80"  href="#/players/{{headsup.player1}}">
              <span ng-hide="headsup.points1<headsup.points2" class="label label-success">{{headsup.player1}}</span>
              <span ng-hide="headsup.points1>=headsup.points2" class="label label-default">{{headsup.player1}}</span>
              <img class="width80" ng-src="resources/players/{{headsup.player1}}.jpg">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 no-margin">
              <br>
              <h4>
                <span class="label label-info"><strong>{{headsup.points1}} - {{headsup.points2}}</strong></span>
              </h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 no-margin">
            <div class="thumbnail width80 pull-right"  href="#/players/{{headsup.player2}}">
              <span ng-hide="headsup.points2<headsup.points1" class="label label-success">{{headsup.player2}}</span>
              <span ng-hide="headsup.points2>=headsup.points1" class="label label-default">{{headsup.player2}}</span>
              <img class="width80" ng-src="resources/players/{{headsup.player2}}.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
