<div class="container-fluid">
  <div class="row">
	<div class="col-md-2">
	  <!--Sidebar content-->

	  Search: <input ng-model="query">
	  
	</div>
	<div class="col-md-10">
	  <!--Body content-->

	  <ul class="phones">
		<li ng-repeat="player in players" class="thumbnail phone-listing">
		  <a href="#/players/{{player._id}}" class="thumb"><img ng-src="resources/players/{{player._id}}.jpg"></a>
		  <a href="#/players/{{player._id}}">{{player.pos}} - {{player._id}}</a>
		  <ul class="phones">
			  <li>Punteggio={{player.pointsTot}}</li>
			  <li>Stack finale={{player.winTot}}</li>
			  <li>Numero tornei={{player.matchTot}}</li>
		  <ul>
		</li>
	  </ul>

	</div>
  </div>
</div>



