<div class="container-fluid">
  <div class="row">
	<div class="col-md-2">
	  <!--Sidebar content-->

	  Search: <input ng-model="query">
	  Sort by:
	  <select ng-model="orderProp">
		<option value="pointsTot">Punteggio</option>
		<option value="winTot">Vittorie</option>
		<option value="moneyTot">Montepremi</option>
		<option value="moneyProfit">Profitti</option>
		<option value="pointsAvg">Media punti</option>
		<option value="moneyAvg">Media profitti</option>
		<option value="headsupTot">Numero HeadsUp</option>
		<option value="headsupPerc">Percentuale Headsup</option>
		<option value="payTot">Quote</option>
		<option value="matchTot">Numero tornei</option>
	  </select>

	</div>
	<div class="col-md-10">
	  <!--Body content-->

	  <ul class="thumbnails">
		<li ng-repeat="stat in stats | filter:query | orderBy:orderProp:true" class="thumbnail">
		  <a href="#/stats/{{stat._id}}" ><img ng-src="resources/players/{{stat._id}}.jpg" width="100"></a>
		  <a href="#/stats/{{stat._id}}">{{stat._id}}</a>
		  <ul class="thumbnails"> 
			  <li>Punteggio={{stat.pointsTot.toFixed(2)}}</li>
			  <li>Vittorie={{stat.winTot}}</li>
			  <li>Montepremi={{stat.moneyTot}}</li>
			  <li>Profitti={{stat.moneyProfit}}</li>
			  <li>Media punti={{stat.pointsAvg.toFixed(2)}}</li>
			  <li>Media profitti={{stat.moneyAvg.toFixed(2)}}</li>
			  <li>Numero HeadsUp={{stat.headsupTot}}</li>
			  <li>Percentuale Headsup={{stat.headsupPerc.toFixed(2)}}</li>
			  <li>Quote={{stat.payTot}}</li>
			  <li>Numero tornei={{stat.matchTot}}</li>
		  <ul>
		</li>
	  </ul>

	</div>
  </div>
</div>



